@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #dadbcd;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  padding: 1rem 1.5rem;
}

.timeline-container {
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
}