@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #dadbcd;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-image-home {
  background-image: url('/dan-cristian-padure-wpyQ_uSsQdU-unsplash.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-image-result {
  background-image: url('/kiwihug-qv05FvdE26k-unsplash.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  padding: 1rem 1.5rem;
}

.timeline-container {
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
}
/* 
.timeline-line {
  position: absolute;
  top: 50%;
  left: 1rem;
  right: 1rem;
  height: 2px;
  background-color: red;
  z-index: -1;
} */